body{
    background-color:rgb(28, 68, 30);
}
h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
.gridFiguras{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.button1{
    color:white;
    background-color: darkgreen;
    width: 150px;
    height: 50px;
}

button{
    color:white;
    background-color: darkgreen;
    width: 150px;
    height: 50px;
}
.corPrincipal{
    color:white;
}
#corEmail{
    color:green;
}

#tamBox{
    width: 500px;
    height: 200px;

}
#inputPrincipal{
    width: 250px;
    height: 30px;
}
#corContato{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.org{
    display: inline;
}