body {
    padding: 0;
    margin: 0;
    background-color:rgb(28, 68, 30);
}

form {
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
    align-items: center;
   
}

.form2 {
    width: 500px;
    margin-left: 400px;
    margin-top: 50px;
    align-items: center;
   
}


.form3 {
    width: 500px;
    margin-left: -300px;
    margin-top: 50px;
    align-items: center;
   
}
.classeDiv{
    display: inline-flex;
    align-items: center;
}

.title {
    margin-bottom: 15px;
    color: white;
    text-transform: capitalize;
    
}
h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

input, textarea,select {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid;
}
.textarea1{
    width: 500px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid;
}
input:hover, textarea:hover, input:focus, textarea:focus,select:hover,select:focus {
    border-color: darkgreen;
    box-shadow: 5px 0px 9px #FFFF00;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: darkgreen;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
    margin-bottom: 30px;
    margin-left: 200px;
}


form label {
    margin-left: 70px;
    color: #FFFFFF;
    font-weight: bold;
}